
.barGraph{
    width: 835px;
    height: 320px;
    border-radius: 5px;
    background-color: #FBFBFB;
}


.barTitle{
    position: relative;
    top: 35px;
    // left: 32px;   
    margin-left: 32px;
    font-size: 15px;
    font-weight: 500;
}

.barLegend{
    padding-right: 1%;
    display: flex;
    gap: 52px;
    border: none;
    justify-content: flex-end;
}


.barLegend li::before{
    display: flex;
    align-items: center;
    gap: 12px;
}

.barLegend li:first-child {
    color: #74798c ;
}

.barLegend li:first-child::marker {
    color: #282d30;
}

.barLegend li:last-child {
    color: #74798c ;
}

.barLegend li:last-child::marker {
    color: #e60000;
}


.customTool {
    background-color: #e60000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 63px;
        .kgData , .calData{
            color: #FBFBFB;
            font-size: 9px;
            line-height:24px;
            font-weight: 500;
        }
}